<main class="main-page">
    <h1>CRUD iManager application</h1>

    <div class="main-info">
        <div class="main-info-count">
            You have: <span><%= count %></span> users
        </div>

        <a href="/create">
            Do you want to create new one?
        </a>
    </div>
</main>