<main>
    <form action="/user" method="POST" class="create-form"> 
        <div class="form-block">
            <label for="name">Fullname</label>

            <input type="text" name="name" placeholder="User fullname" required>
        </div>
        <div class="form-block">
            <label for="email">Email</label>

            <input type="email" name="email" placeholder="User email" required> 
        </div>
        <div class="form-block">
            <label for="password">Password</label>

            <input type="password" name="password" placeholder="*******" required>
        </div>
        <div class="form-block">
            <label for="role">Role</label>

            <input type="text" name="role" placeholder="E.G. Best CEO's friend" required>
        </div>
        <div class="form-block">
            <label for="salary">Salary</label>

            <input type="number" name="salary" required>
        </div>

        <button class="form-button">Submit</button>
    </form>
</main>