<main>
    <h1>User ID: <%= user.id %></h1>

    <div>
        <div>
            <%= user.username %>
        </div>

        <div>
            <%= user.fullname %>
        </div>

        <div>
            <%= user.password %>
        </div>
    </div>
</main>